// Button Type 1: Fill Button
.btn { // buttons made from either <a href=".."> tag or <button> tag
    &,
    &:link,
    &:visited {
        position: relative;
        display: inline-block;
        padding: 2rem 4rem;
        border-radius: 10rem;
        font-size: $default-font-size;
        text-transform: uppercase;
        text-decoration: none;
        transition: all .2s;
    
        // Reset default styling of the <button> element
        border: none;
        cursor: pointer;
    }

    &::after { // ::before로해도 마찬가지이다. position: absolute를 했기 때문에
        // 본 요소의 z-index 보다 위로 와서 버튼의 글자를 가리게 된다. 
        // z-index: -1 를 설정해주어야한다.
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    // background-color: $color-white; // 잘못됨. 이렇게해버리면 초록색 버튼에도 적용이 되버린다.
    z-index: -1;
    transition: all .4s;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active {
        outline: none;
        transform: translateY(-1px);
    }


}

.btn--white {
    background-color: $color-white;
    color: $color-grey-dark-2;

    &::after {
        background-color: $color-white;
    }
}

.btn--green {
    background-color: $color-primary;
    color: #fff;
    
    &::after {
        background-color: $color-primary;
    }
}


// Button Type 2: Text Button
.btn-text {
    &:link,
    &:visited {
        display: inline-block;
        text-decoration: none;
        font-size: 1.6rem;
        padding: .3rem 1rem;
        color: $color-primary;
        text-transform: capitalize;
        border-bottom: 1px solid currentColor;
        transition: all .2s;
    }
    
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
    }
}
