.trapezoid {
    width: 70%;
    padding: 7rem;
    margin: 0 auto;
    background: linear-gradient(110deg, rgba(#fff, .8) 0%, rgba(#fff, .8) 50%, transparent 50%),
        url("./assets/images/nat-10.jpg");
}