.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0 5rem 0;
    color: $color-white;
    font-size: 1.6rem;

    @include clearfix;

    // LOGO
    &__logo-box {
        margin: 0 auto;
        width: 15rem;
        margin-bottom: 5rem;
    }

    &__logo {
        width: 100%;
    }

    &__logo-img {
        width: 100%;
        display: inline-block;
    }

    // NAVIGATION
    &__nav {
        width: 80%;
        float: left;
        padding-top: 2rem;
        border-top: 1px solid $color-grey-dark-1;
    }

    &__nav-list {
        list-style: none;

        @include clearfix;
    }

    &__nav-item {
        float: left;
    }

    &__nav-item:not(:last-child) {
        margin-right: 2rem;
    }

    &__nav-link:link, &__nav-link:visited  {
        color: $color-white;
        text-decoration: none;
    }

    // COPYRIGHT
    &__copyright {
        float: right;
        width: 80%;
        border-top: 1px solid $color-grey-dark-1;
        padding-top: 2rem;
    }
}