.row {
    max-width: $grid-width;
    margin: 0 auto;
    margin-bottom: $grid-gutter-vertical;
    
    @include clearfix;
}

// 2 COLUMS

.col-1-of-2 {
    float: left;
    width: calc((100% - #{$grid-gutter-hozirontal}) / 2);
}

.col-1-of-2:not(:last-child) {
    margin-right: $grid-gutter-hozirontal;
}

// 3 COLUMS
.col-1-of-3 {
    float: left;
    width: calc((100% - #{$grid-gutter-hozirontal} * 2) / 3);
}

.col-2-of-3 {
    float: left;
    width: calc(((100% - #{$grid-gutter-hozirontal} * 2) / 3) * 2);
}

// 4 COLUMS
.col-1-of-4 {
    float: left;
    width: calc((100% - #{$grid-gutter-hozirontal} * 3) / 4);
}

.col-2-of-4 {
    float: left;
    width: calc(((100% - #{$grid-gutter-hozirontal} * 3) / 4) * 2);
}

.col-3-of-4 {
    float: left;
    width: calc(((100% - #{$grid-gutter-hozirontal} * 3) / 4) * 3);
}

div[class^="col-"] {

    &:not(:last-child) {
        margin-right: $grid-gutter-hozirontal;

        @include respond(tab-port) { // Columns stack vertically bofore the viewport width is tab-port.
            margin-right: 0;
            margin-bottom: 5rem;
        }
    }

    @include respond(tab-port) { // All columns takes 100% of the main container's width.
        width: 100%;
    }
} 

