.header {
    position: relative;
    background-image: linear-gradient(to bottom right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
        url('./assets/images/hero.jpg');
    background-position: top;
    background-size: cover;
    height: 85vh;

    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: $color-white;
        text-align: center;
        // text-transform: uppercase;

        // transform: translate(50%, 50%);
        // top: -50%;
        // left: -50%;
    }
}