.section {
    padding: 20rem 6rem;

    @include respond(tab-land) {
        padding: 16rem 6rem;
    }

    @include respond(phone) {
        padding: 16rem 3rem;
    }

    &--about {
        margin-top: -6rem;
        padding-bottom: 10rem;
    }

    &--features {
        background: 
            linear-gradient(to bottom right, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
            url('./assets/images/nat-1-large.jpg');

        background-size: cover;
        background-position: center;
        transform: skewY(-7deg);

        & > * {
            transform: skewY(7deg);
            margin-bottom: 0;
        }
    }

    &--tours {
        background-color: $color-grey-light-1;
        margin-top: -11rem;
        padding-top: 24rem;

        @include respond(tab-land) {
            margin-top: -9rem;
        }
        @include respond(big-desktop) {
            margin-top: -12rem;
            padding-top: 24rem;
        }
    }

    &--reviews {
        background: rgba(#ffffff, 0.8);
        position: relative;
        height: auto;
        overflow: hidden;
    }

    &--form {
        background: linear-gradient(to bottom right, $color-primary-light, $color-primary-dark);
        box-shadow: $box-shadow-light;
    }


}

